body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: tahoma;
  color: #282828;
}

.button {
  margin: 30px;
  background-color: #39495c;
  border-radius: 5px;
  font-size: 18px;
  width: 160px;
  height: 60px;
  color: white;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.put-on {
  background-color: #39495c;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 580px;
  width: 170px;
  height: 60px;
  color: white;
  padding: 20px;
  cursor: pointer;
}
.vertical-center {
  position: absolute;
}
.student{
  width: 30%;
  margin-left: 10px;
}
.crayon-box {
  background-image: url("images/crayonbox.png");
  background-size: 250px;
  width: 180px;
  height: 320px;
  float: right;
  margin-right: 40px;
  margin-top: 1100px;
  border: 1px solid #d8d8d8;
  padding: 10px 30px;
}
.logo{
  font-size: 24px;
}
.box-palette {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-left: 80px;
  border: 2px solid #d8d8d8;
  border-radius: 10%;
}


.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

img {
  border: 2px solid #d8d8d8;
  width: 70%;
  margin: 40px;
  padding: 15px;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
}

li {
  font-size: 18px;
}

.nav-bar {
  background: #964B00;
  height: 60px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}

.logo-img{
  float: left;
  position: relative;
  width: 230px;
  height: 70px;
  border: 0px solid;
  margin-top: -20px;
}

.out-of-stock-img {
  opacity: 0.5;
}

p {
  font-size: 22px;
}

.draw-display {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.drawing-image{
  width: 100%;
}
.crayons-image{
  width: 100%;
  margin-left: 520px;

}
.game-info {
  width: 50%;
  text-align: center;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin: 40px;
  border: 2px solid #d8d8d8;
  background-color: white;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.review-container {
  width: 425px;
  padding: 20px;
  background-color: white;
  margin-left: 40px;
  border: 2px solid #d8d8d8;
}

.review-container li {
  margin-bottom: 30px;
}

.review-form .button {
  display: block;
  margin: 30px auto;
}

select {
  height: 40px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

textarea {
  width: 95%;
  height: 70px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .drawing-image,
  .game-info {
    margin-left: 30px;
    width: 100%;
  }

  .review-form {
    width: 90%;
  }
}
